.orange-highlight,
.green-highlight,
.blue-highlight,
.red-highlight,
.purple-highlight {
  width: 100%;

  text-align: center;
}

.purple-highlight {
  background-color: #b197fc;
  color: #b197fc;
}

.red-highlight {
  background-color: #ffa8a8;
  color: #ffa8a8;
}

.blue-highlight {
  background-color: #74c0fc;
  color: #74c0fc;
}

.green-highlight {
  background-color: #8ce99a;
  color: #8ce99a;
}

.orange-highlight {
  background-color: #ffc078;
  color: #ffc078;
}

.editor-menu-options {
  padding: 10px 10px;
  background-color: #eee;
  gap: 2rem;

  width: 93vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.floating-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-bar {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px;
}

.menu-bar button {
  margin-right: 8px; /* Add some spacing between buttons */
}

/* Media query for mobile view */
@media only screen and (max-width: 900px) {
  .menu-bar {
    flex-wrap: nowrap; /* Allow wrapping in mobile view */
    overflow-y: none;
    padding-top: 19px; /* Vertical scrolling if needed */
    max-height: 70px; /* Set a maximum height for vertical scrolling */
  }
  .editor-menu-options {
    width: 93vw;
  }
}
@media only screen and (max-width: 600px) {
  .menu-bar {
    flex-wrap: nowrap; /* Allow wrapping in mobile view */
    overflow-y: none;
    padding-top: 19px; /* Vertical scrolling if needed */
    max-height: 70px; /* Set a maximum height for vertical scrolling */
  }
  .editor-menu-options {
    width: 93vw;
  }
}

/* Add other styles as needed */
